/* RESET CSS*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FINISH RESET*/


main{
	display: inline-block;
	width: 45%;
}

#contenedorDados{
	background-color: #979797;
	border-radius: 8px;
	padding: 0.3em;
	margin-left: 0.5em;
	float:left;
	text-align: center;
}

#contenedorDados div{
	padding-left: 0.5em;
	display: inline-block;
	width: 100px;
	
}


.seleccionado{
	/*border: 4px solid red !important;*/
	opacity: 0.65;
	
}

#botonTirarDados{
	margin: 0.75em 0 0 0;
	display: inline-block;
	padding: 1.5em 2.3em;
    background-color: #EC1D1D;
    border-radius: 8px;
    font-weight: 500;
}

#centrarboton{
	text-align: center;
}

#aclaracion{
	margin-left: 1em;
}

#estadodeljuego{
	margin: 1em;
}

aside{
  	vertical-align: top;
	margin-right: 2em;
	display: inline-block;
}

table{
	background-color: rgba(255, 255, 255, 0.4);
	margin-left: 2.5em;
	margin-top: 2em;
	border-style: hidden;
	border-radius: 1em;
	border-collapse: collapse;
	float: right;
}
th, td{
	border: 1.5px solid#979797;
}

th{
	padding: 0.5em 2em;
	font-weight: 500;
}

td{
	padding: 0.2em 1em;
}

tr td:nth-of-type(2){
	text-align: center;
}
tr td:nth-of-type(3){
	text-align: center;
}

#puntaje{
	background-color: red;
}

#mostrarganador{
	display: none;
}

#cartelganador{
	display: none;
	margin: 1rem;
	font-size: 2em;
	font-weight: bold;
	color: white;
}

.disabled{
	cursor: not-allowed;
}

#reiniciar{
	display: none;
	margin: 0 auto;
	text-align: center;
    width: 40%;
}

.boton{
	padding: 0.75em 1.3em;
    background-color: #EC1D1D;
    border-radius: 8px;
	font-weight: 500;
	margin: 1em;
}

img{
	max-width: 100%;
}

#floatleft{
float: left;
}

#floatright{
float: right;
}

p{
	font-size: 0.7em;
	font-weight: 500;
	margin: 0.5em 0;
}

@media screen and (orientation: portrait){
	
	#contenedorDados{
		display: block;
		float: none;
		margin: unset;
		padding: 0.5em 2em;
	}

	#contenedorDados div{
		width: unset;
	}

    main{
        width: 90%;
    }

    img{
        height: 4em;
    }

	table{
		margin-left: 2.5em;
		margin-top: 0;
	}

    td{
        padding: 0.6em 1em;
	}
	
	#centrar{
		margin-left: 2em;
	}

	#reiniciar{
		width: 80%;
		margin-top: 20vh;
	}

	.boton{
		padding: 1.2em 1.3em;
	}

	#cartelganador{
	margin: 2em;
	}
}

