/* RESET CSS*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color:black;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	text-align: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FINISH RESET*/

body{
	font-size: 16px;
}

#boton{
	margin: 0.75rem 0.5rem;
}

#tablero{
	max-width: 300px;
	min-width: 200px;
    margin: 0 auto;
}

.casillero{
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    background-color: black;
	border: solid  #EC1D1D 3px;
	font-size: 4em;
	line-height: 4rem;
	vertical-align: text-top;
	color: white;
	text-align: center;
}

.nodisp{
	display: none;
}

.cartel{
	height: 64px;
	color: black;
	font-size: 3em;
}

#textocartel{
	font-size: 3em;
	margin: 2em;
	color: white;
}

#turno{
	text-align: center;
    font-weight: bold;
	font-size: 1.5em;
	margin: 0.5em 0 0.5em 0;
}

@media screen and (orientation: portrait){
.casillero{
	line-height: 6rem;
	width: 6rem;
    height: 6rem;
}

.marginbottom{
	margin-bottom: 4em!important;
}

#tablero {
    max-width: none;
	min-width: none;
	width: 80%;
}

html{
	align-items: center;
    display: flex;
    height: 100vh;
}

#boton{
	text-align: center;
}

}